<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Scheduling Admin</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleschedule.css') }}">
</head>
<body onload="init()">
	<div id="page">
		<div id="header">
			<h2 id="title-header">Administration</h2>
			<input type="button" class="hdr-button" value="Exit" onclick="exitClick()">
		</div>
		<div id="main-page">
			<input type="button" id="blocks-button" class="sel-button" value= "Set Blocks" onclick="setBlocks()">
			<input type="button" id="show-button" class="sel-button" value= "Show List" onclick="showlist()">
		</div>
	</div>
</html>

<script src="/static/cookie.js"></script>
<script >
	const dateField = document.getElementById("avail-date");

	let blockDateDataMap = new Map();
	let resDateListMap = new Map();
	let resList = [];

	function init() {
		const title = "{{ title }}"
		const header = document.getElementById("title-header")
		header.innerText = "Admin - " + title

		const acct = "{{ acct }}"

		const valid = getCookie("adminValid");
		if (valid != "true") {
			let pw = prompt("Enter password");
			let url = "{{ url_for('.checkpw', acct='acctTag', pw='pwTag') }}";
			url = url.replace('acctTag', acct);
			url = url.replace('pwTag', pw);
			console.log(url)

			fetch(url)
			.then(resp => {
				console.log(resp, resp.ok)
				if (!resp.ok) {
					alert("Account or password is invalid: " + acct + ", " + pw);
					window.location = "{{ url_for('.index')}}";
					return;
				}

				setCookie("adminValid", "true", daysToMinutes(7));
			})
			.catch(err => {
				alert("Password check failed: ", err);
			});



			// if (pw == 'juubun') {
			// 	setCookie("adminValid", "true", daysToMinutes(7));
			// } else {
			// 	window.location = "{{ url_for('.index')}}";
			// }
		}
	}
	
	function showlist() {
		let str = "{{ url_for('.showlist') }}";
		window.location = str;
	}

	function setBlocks() {
		let str = "{{ url_for('.blocks') }}";
		window.location = str;
	}

	function exitClick() {
		let url = "{{ url_for('main.index', acct='acctTag') }}"
		url = url.replace('acctTag', "{{ acct }}")
		location.href = url
	}

</script>