<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tithing Declaration</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleschedule.css') }}">
</head>
<body onload="init()">
	<div id="page">
		<div id="header">
			<h2>Change Reservation</h2>
			<!-- <input type="button" id="home-button" class="end-button" onclick='location.href="{{ url_for('main.index') }}"' value="Home"> -->
		</div>
		<div id="content">
			<div class="instruction">
				<p>Enter your name to bring up your reservation for tithing declaration.  Then you can select a different date, and time.  
					Press Save to finish the reservaton.</p>
				<p>Times with a gray background are already reserved. </p>
			</div>
			<div id="sched-input">
				<label for="first-name">First Name:</label>
				<input type="text" name="first-name" id="first-name" onblur="checkDone()">
				<label for="last-name">Last Name:</label>
				<input type="text" name="last-name" id="last-name" onblur="checkDone()">
				<label for="phone">Telephone Number:</label>
				<input type="text" name="phone" id="phone">
				<div id="buttons-div">
					<input type="button" id="submit-button" class="end-button" onclick="modReservation()" value="Save">
					<input type="button" id="del-button" class="end-button" onclick="deleteReservation()" value="Delete">
					<input type="button" class="end-button" onclick='location.href="{{ url_for('main.index') }}"' value="Cancel">
				</div>
			</div>
			<div id="sched-date">
				<div id="date-div">
					<label for="avail-date">Date:</label>
					<select name="avail-date" id="avail-date" onchange="dateChange()"></select>
				</div>
				<div id="sched-times">
					<table id="times-tbl">

					</table>
				</div>
			</div>
		</div>
	</div>

</html>

<script src="/static/cookie.js"></script>
<script >
	const dateField = document.getElementById("avail-date");
	const firstNameField = document.getElementById("first-name");
	const lastNameField = document.getElementById("last-name");
	const phoneField = document.getElementById("phone");
	
	let idReservationMap = new Map();
	let blockDateDataMap = new Map();
	let resDateListMap = new Map();
	let resList = [];
	let selectedRowId = -1;
	let resId = 0;
	let resFound = false;

	function init() {
		document.getElementById("submit-button").style.display = "none";
		document.getElementById("del-button").style.display = "none";

		{% for b in blocks %} {
			const bDate = new Date("{{ b.blkDate }}");
			bDate.setTime(bDate.getTime() + 43200000);	// offset for gmt
			const duration = {{ b.duration }};
			const start = {{ b.startTime }};
			const nTimes = {{ b.numBlocks }};
			const opt = document.createElement("option");
			const txt = bDate.toLocaleDateString('en-us', { weekday: 'long'}) + ", " + bDate.getMonth() + "/" + bDate.getDate() + "/" + bDate.getFullYear();
			const val = bDate.toISOString().substring(0, 10);
			opt.text = txt;
			opt.value = val;
			dateField.appendChild(opt);

			const data = {duration: duration, start: start, nTimes: nTimes};
			blockDateDataMap.set(val, data);

		} {% endfor %}

		{% for r in reservations %} {
			const bDate = new Date("{{ r.resDate }}");
			bDate.setTime(bDate.getTime() + 43200000);	// offset for gmt
			const resTime = {{ r.resTime }};
			const val = bDate.toISOString().substring(0, 10);
			if (resDateListMap.has(val)) {
				let list = resDateListMap.get(val);
				list.push(resTime);
				resDateListMap.set(val, list);
			} else {
				let list = [resTime];
				resDateListMap.set(val, list);
			}

			const data = {id: {{ r.id }}, date: val, time: resTime, first: "{{ r.firstName }}", last: "{{ r.lastName }}", phone: "{{ r.phone }}"};
			resList.push(data);
		} {% endfor %}

		firstNameField.value = getCookie("firstName");
		lastNameField.value = getCookie("lastName");
		phoneField.value = getCookie("phone");

		document.getElementById("sched-date").style.display = "none";
		checkDone();
		// dateChange();
	}

	function dateChange() {
		const date = dateField.value;
		const data = blockDateDataMap.get(date);
		const tblBody = document.getElementById("times-tbl");
		const startTime = data.start;
		const resTimeList = resDateListMap.get(date);

		tblBody.innerHTML = "";
		selectedRowId = -1;

		for (let i = 0; i < data.nTimes; i++) {
			const row = tblBody.insertRow(i);
			row.className = "tr-not-selected";
			const block = row.insertCell(0);
			const time = data.start + data.duration * i;
			let hr = Math.floor(time / 60) % 12;
			if (hr == 0) {
				hr = 12;
			}
			let min = (time % 60).toString();
			if (min == "0") {
				min = "00";
			}
			const ap = (time / 60 > 11) ? "PM" : "AM";
			const timeStr = hr + ":" + min + " " + ap;
			block.innerHTML = timeStr;
			if (resTimeList.includes(time)) {
				row.className = "tr-scheduled";
			} else {
				row.onclick = function () {
					const rowId = this.rowIndex;
					if (selectedRowId >= 0) {
						tblBody.rows[selectedRowId].className = "tr-not-selected";
					}
					const selected = tblBody.getElementsByTagName('tr')[rowId];
					selected.className = "tr-selected";
					selectedRowId = rowId;
				}
			}

			const value = row.insertCell(1);
			value.innerHTML = time;
			value.style.display = "none";
		}
	}

	function modReservation() {
		const tblBody = document.getElementById("times-tbl");
		const row = tblBody.rows[selectedRowId];
		const date = document.getElementById("avail-date").value;
		const time = row.cells[1].innerText;
		const first = document.getElementById("first-name").value.trim();
		const last = document.getElementById("last-name").value.trim();
		const phone = document.getElementById("phone").value.trim();
		setCookie("firstName", first, daysToMinutes(30));
		setCookie("lastName", last, daysToMinutes(30));
		setCookie("phone", phone, daysToMinutes(30));
		
		// date, time, first, last, phone) {
		const jsonString = JSON.stringify({ id: resId, resdate: date, restime: time, first: first, last: last, phone: phone });
		const url = "{{ url_for('.modreservation') }}";

		fetch(url, {
			method: 'POST',
			headers: {'Content-Type': 'application/json'},
			body: jsonString
		})
		.then(resp => {
			if (!resp.ok) {
				alert("Change reservation failed");
				return;
			}

			resp.json().then(json => {
				alert("Your reservation for ... has been changed");
				location.href="{{ url_for('main.index') }}";
			})
		})
		.catch(err => {
			alert("Change reservation failed: ", err);
		});
	}

	function checkDone() {
		const firstField = document.getElementById("first-name");
		const lastField = document.getElementById("last-name");
		const first = firstField.value;
		const last = lastField.value;
		const phoneField = document.getElementById("phone");
		const subBtn = document.getElementById("submit-button");
		const delBtn = document.getElementById("del-button");
		const dateField = document.getElementById("avail-date");
		const timeTable = document.getElementById("times-tbl");
		const schedDiv = document.getElementById("sched-date");

		if (!resFound && (first != "") && (last != "")) {
			for (let t of resList) {
				if ((t.first.toLowerCase() == first.toLowerCase()) &&
						(t.last.toLowerCase() == last.toLowerCase())) {
					resFound = true;
					phoneField.value = t.phone;
					subBtn.style.display = "flex";
					delBtn.style.display = "flex";
					schedDiv.style.display = "flex";
					firstField.value = t.first;
					lastField.value = t.last;
					// firstField.disabled = true;
					// lastField.disabled = true;
					dateField.value = t.date;
					resId = t.id;
					dateChange();
					highlightTime(t.time);
					break;
				}
			}
		// } else {
		// 	subBtn.style.display = "none";
		// 	delBtn.style.display = "none";
		}
	}

	function deleteReservation() {
		const jsonString = JSON.stringify({ id: resId });
		let url = "{{ url_for('.delreservation', id='idTag') }}";
		url = url.replace('idTag', resId);

		fetch(url)
		.then(resp => {
			if (!resp.ok) {
				alert("Delete reservation failed");
				return;
			}

			resp.json().then(json => {
				alert("Your reservation for ... has been deleted");
				location.href="{{ url_for('main.index') }}";
			})
		})
		.catch(err => {
			alert("Delete reservation failed: ", err);
		});
	}

	function highlightTime(time) {
		const tblBody = document.getElementById("times-tbl");
		let i = 0;
		for (let r of tblBody.rows) {
			if (r.cells[1].innerText == time) {
				r.className = "tr-selected";
				selectedRowId = i;
				r.onclick = function () {
					const rowId = this.rowIndex;
					if (selectedRowId >= 0) {
						tblBody.rows[selectedRowId].className = "tr-not-selected";
					}
					const selected = tblBody.getElementsByTagName('tr')[rowId];
					selected.className = "tr-selected";
					selectedRowId = rowId;
				}
				break;
			}
			i++;
		}
	}

	function goHome() {
	}


</script>