<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Schedule Change</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" href="{{ url_for('static', filename='styleschedule.css') }}">
</head>
<body onload="init()">
	<div id="page">
		<div id="header">
			<h2 id="title-header">Change Reservation</h2>
		</div>
		<div id="content">
			<div class="instruction">
				<p>Enter your name to bring up your reservation.  Then you can select a different date, and time.  
						Press Save to finish the reservaton.</p>
				<p>Times with a gray background are already reserved. </p>
			</div>
			<div id="sched-input">
				<label for="first-name">First Name:</label>
				<input type="text" name="first-name" id="first-name" onblur="checkDone()">
				<label for="last-name">Last Name:</label>
				<input type="text" name="last-name" id="last-name" onblur="checkDone()">
				<label for="phone">Telephone Number:</label>
				<input type="text" name="phone" id="phone">
				<div id="buttons-div">
					<input type="button" id="submit-button" class="end-button" onclick="modReservation()" value="Save">
					<input type="button" id="del-button" class="end-button" onclick="deleteReservation()" value="Delete">
					<input type="button" class="end-button" onclick='cancel()' value="Cancel">
				</div>
			</div>
			<div id="sched-date">
				<div id="date-div">
					<label for="avail-date">Click to Select Date:</label>
					<select name="avail-date" id="avail-date" onchange="dateChange()"></select>
				</div>
				<div id="sched-times">
					<table id="times-tbl">

					</table>
				</div>
			</div>
		</div>
	</div>
</html>

<script src="/static/cookie.js"></script>
<script src="/static/dates.js"></script>
<script >
	const dateField = document.getElementById("avail-date");
	const firstNameField = document.getElementById("first-name");
	const lastNameField = document.getElementById("last-name");
	const phoneField = document.getElementById("phone");
	
	let blockIdDataMap = new Map();
	let selectedRowId = -1;
	let resId = 0;
	let resFound = false
	let resDate = null
	let resTime = 0


	const accountId = {{ account.id }}

	function init() {
		const title = "{{ account.title }}"
		const header = document.getElementById("title-header")
		header.innerText = title

		document.getElementById("submit-button").style.display = "none";
		document.getElementById("del-button").style.display = "none";

		{% for b in blocks %} {
			const bDate = new Date("{{ b.blkDate }}");
			bDate.setTime(bDate.getTime() + 43200000);	// offset for gmt
			const duration = {{ b.duration }};
			const start = {{ b.startTime }};
			const nTimes = {{ b.numBlocks }};
			const bId = {{ b.id }};
			const opt = document.createElement("option");
			const txt = getBlockString(bDate, start, duration * nTimes);
			opt.text = txt;
			opt.value = bId;
			dateField.appendChild(opt);

			const idData = {id: bId.toString(), date: bDate, duration: duration, start: start, nTimes: nTimes};
			blockIdDataMap.set(bId.toString(), idData);

		} {% endfor %}

		firstNameField.value = getCookie("firstName");
		lastNameField.value = getCookie("lastName");
		phoneField.value = getCookie("phone");

		document.getElementById("sched-date").style.display = "none";
		checkDone();
	}

	function dateChange() {
		const blockId = dateField.value
		let url = "{{ url_for('.getreservations', id='idTag') }}";
		url = url.replace('idTag', blockId);

		fetch(url)
		.then(resp => {
			if (resp.ok) {
				return resp.json()
			}
		})
		.then(json => {
			const timeList = json.times
			const data = blockIdDataMap.get(dateField.value);

			const tblBody = document.getElementById("times-tbl")
			tblBody.innerHTML = "";
			selectedRowId = -1;

			for (let i = 0; i < data.nTimes; i++) {
				const row = tblBody.insertRow(i);
				row.className = "tr-not-selected";
				const block = row.insertCell(0);
				const time = data.start + data.duration * i;
				let hr = Math.floor(time / 60) % 12;
				if (hr == 0) {
					hr = 12;
				}
				let min = (time % 60).toString();
				if (min == "0") {
					min = "00";
				}
				const ap = (~~(time / 60) > 11) ? "PM" : "AM";
				const timeStr = hr + ":" + min + " " + ap;
				block.innerHTML = timeStr;

				if (timeList.includes(time)) {
					const val = findValFromDateTime(resDate, resTime)

					if ((dateField.value == val) && (time == resTime)) {
						row.className = "tr-selected"
						selectedRowId = i
					} else {
						row.className = "tr-scheduled";
					}
				} else {
						row.onclick = function () {
							const rowId = this.rowIndex;
							if (selectedRowId >= 0) {
								tblBody.rows[selectedRowId].className = "tr-not-selected";
							}
							const selected = tblBody.getElementsByTagName('tr')[rowId];
							selected.className = "tr-selected";
							selectedRowId = rowId;
						}
					}

					const value = row.insertCell(1);
					value.innerHTML = time;
					value.style.display = "none";
				}
			})
		.catch(err => {
			alert("Get reservation failed: ", err)
		})
	}

	function modReservation() {
		const tblBody = document.getElementById("times-tbl");
		const row = tblBody.rows[selectedRowId];
		const blockId = document.getElementById("avail-date").value;
		const date = blockIdDataMap.get(blockId).date.toISOString().substring(0,10);
		const time = row.cells[1].innerText;
		const first = document.getElementById("first-name").value.trim();
		const last = document.getElementById("last-name").value.trim();
		const phone = document.getElementById("phone").value.trim();
		setCookie("firstName", first, daysToMinutes(30));
		setCookie("lastName", last, daysToMinutes(30));
		setCookie("phone", phone, daysToMinutes(30));
		
		// date, time, first, last, phone) {
		const jsonString = JSON.stringify({ id: resId, resdate: date, restime: time, first: first, last: last, phone: phone });
		const url = "{{ url_for('.modreservation') }}";

		fetch(url, {
			method: 'POST',
			headers: {'Content-Type': 'application/json'},
			body: jsonString
		})
		.then(resp => {
			if (!resp.ok) {
				alert("Change reservation failed");
				return;
			}

			resp.json().then(json => {
				alert("Your reservation for ... has been changed");
				const acct = getCookie('Account')
				let url = "{{ url_for('main.index', acct='acctTag') }}"
				url = url.replace('acctTag', acct)
				location.href = url
			})
		})
		.catch(err => {
			alert("Change reservation failed: ", err);
		});
	}

	function findValFromDateTime (date, time) {
		for (const b of blockIdDataMap.values()) {
			if ((b.date.getTime() == date.getTime()) && (time >= b.start) && (time < b.start  + b.duration * b.nTimes)) {
				return b.id;
			}
		}

		return 0;
	}

	function checkDone() {
		const firstField = document.getElementById("first-name");
		const lastField = document.getElementById("last-name");
		const first = firstField.value;
		const last = lastField.value;
		const phoneField = document.getElementById("phone");
		const subBtn = document.getElementById("submit-button");
		const delBtn = document.getElementById("del-button");
		const dateField = document.getElementById("avail-date");
		const timeTable = document.getElementById("times-tbl");
		const schedDiv = document.getElementById("sched-date");

		console.log("checkDone()")
		if (!resFound && (first != "") && (last != "")) {

			const jsonString = JSON.stringify({ first: first, last: last, acctId: accountId });
			const url = "{{ url_for('.findreservation') }}";

			fetch(url, {
				method: 'POST',
				headers: {'Content-Type': 'application/json'},
				body: jsonString
			})
			.then(resp => {
				console.log(".then(resp)", resp)
				if (resp.ok) {
					return resp.json()
				}
			})
			.then(json => {
				id = json.id
				if (id != 0) {
					const phone = json.phone
					let rd = json.resDate
					rd = rd.replace("00:00:00", "12:00:00")
					resDate = new Date(rd)
					resTime = json.resTime

					resFound = true;
					phoneField.value = phone;
					subBtn.style.display = "flex";
					delBtn.style.display = "flex";
					schedDiv.style.display = "flex";
					firstField.value = first;
					lastField.value = last;
					// firstField.disabled = true;
					// lastField.disabled = true;
					const val = findValFromDateTime(resDate, resTime);
					if (val != "") {
						dateField.value = val;
						resId = id;
						dateChange();
						highlightTime(resTime);
					} else {
						alert("Reservation not found");
					}
				}
			})
			.catch(err => {
				console.log("catch", err)
				alert("Find reservation failed: ", err)
			})
		// } else {
		// 	subBtn.style.display = "none";
		// 	delBtn.style.display = "none";
		}
	}

	function deleteReservation() {
		const jsonString = JSON.stringify({ id: resId });
		let url = "{{ url_for('.delreservation', id='idTag') }}";
		url = url.replace('idTag', resId);

		fetch(url)
		.then(resp => {
			if (!resp.ok) {
				alert("Delete reservation failed");
				return;
			}

			resp.json().then(json => {
				alert("Your reservation for ... has been deleted");
				const acct = getCookie('Account')
				let url = "{{ url_for('main.index', acct='acctTag') }}"
				url = url.replace('acctTag', acct)
				location.href = url
			})
		})
		.catch(err => {
			alert("Delete reservation failed: ", err);
		});
	}

	function highlightTime(time) {
		const tblBody = document.getElementById("times-tbl");
		let i = 0;
		for (let r of tblBody.rows) {
			if (r.cells[1].innerText == time) {
				r.className = "tr-selected";
				selectedRowId = i;
				r.onclick = function () {
					const rowId = this.rowIndex;
					if (selectedRowId >= 0) {
						tblBody.rows[selectedRowId].className = "tr-not-selected";
					}
					const selected = tblBody.getElementsByTagName('tr')[rowId];
					selected.className = "tr-selected";
					selectedRowId = rowId;
				}
				break;
			}
			i++;
		}
		resFound = false;
	}

	function goHome() {
	}

	function cancel() {
		const acct = getCookie('Account')
		let url = "{{ url_for('main.index', acct='acctTag') }}"
		url = url.replace('acctTag', acct)
		location.href = url
	}


</script>