<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Tithing Declaration</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleschedule.css') }}">
</head>
<body onload="init()">
	<div id="page">
		<div id="header">
			<h2>Gold Canyon Ward Tithing Declaration</h2>
		</div>
		<div id="main-page">
			<input type="button" id="sched-button" class="sel-button" value= "Reserve Time" onclick="schedule()">
			<input type="button" id="change-button" class="sel-button" value= "Change Time" onclick="change()">
		</div>
	</div>
</html>

<script type="text/javascript">

	function init() {
	}

	function schedule() {
		let str = "{{ url_for('.schedule') }}";
		window.location = str;
	}

	function change() {
		let str = "{{ url_for('.change') }}";
		window.location = str;
	}

</script>