<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleindex.css') }}">
</head>
<body onload="init()">
	<div id="page">
		<div id="header">
			<h2>Gold Canyon Ward</h2>
		</div>
		<div id="content">
			<input type="button" id="sched-button" class="sel-button" value= "Tithing Declaration Schedule" onclick="schedule()">
			<input type="button" id="manage-button" class="sel-button" value= "Management" onclick="management()">
		</div>
	</div>
</html>

<script type="text/javascript">

	function init() {
	}

	function schedule() {
		window.location = "{{ url_for('.schedule') }}";
	}

	// function management() {
	// 	window.location = "{{ url_for('.manage') }}";
	// }

</script>