<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Schedule List</title>
	<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styleschedule.css') }}">
</head>
<body onload="init()">
	<div id="page">
		<div id="header">
			<h2 id="title-header">Show Reservations</h2>
			<input type="button" id="home-button" class="hdr-button" onclick="goHome()" value="Home">
		</div>
		<div id="content">
			<div id="sched-date">
				<div id="date-div">
					<label for="avail-date">Date:</label>
					<select name="avail-date" id="avail-date" onchange="dateChange()"></select>
				</div>
			</div>
			<div id="sched-times">
				<table id="times-tbl">

				</table>
			</div>
		</div>
	</div>
</html>

<script src="/static/cookie.js"></script>
<script src="/static/dates.js"></script>
<script >
	const dateField = document.getElementById("avail-date");

	let blockIdDataMap = new Map();
	let resList = [];

	function init() {
		const title = "{{ title }}"
		const header = document.getElementById("title-header")
		header.innerText = "Reservations - " + title

		{% for b in blocks %} {
			const bDate = new Date("{{ b.blkDate }}");
			bDate.setTime(bDate.getTime() + 43200000);	// offset for gmt
			const duration = {{ b.duration }};
			const start = {{ b.startTime }};
			const nTimes = {{ b.numBlocks }};
			const bId = {{ b.id }};
			const opt = document.createElement("option");
			const txt = getBlockString(bDate, start, duration * nTimes);
			opt.text = txt;
			opt.value = bId;
			dateField.appendChild(opt);

			const idData = {date: bDate, duration: duration, start: start, nTimes: nTimes};
			blockIdDataMap.set(bId.toString(), idData);

		} {% endfor %}

		{% for r in reservations %} {
			const bDate = new Date("{{ r.resDate }}");
			bDate.setTime(bDate.getTime() + 43200000);	// offset for gmt
			const resTime = {{ r.resTime }};
			const val = getDateValue(bDate);
			const data = {id: {{ r.id }}, date: bDate, time: resTime, first: "{{ r.firstName }}", last: "{{ r.lastName }}", phone: "{{ r.phone }}"};
			resList.push(data);
		} {% endfor %}

		dateChange();
	}

	function phoneFormat(number) {
		let rtn = number
		if (number.length == 10) {
			rtn = number.substring(0, 3) + "-" + number.substring(3,6) + "-" + number.substring(6)
		}
		return rtn
	}

	function dateChange() {
		const data = blockIdDataMap.get(dateField.value);
		const date = data.date;
		const tblBody = document.getElementById("times-tbl");
	
		let resTimeInfoMap = new Map();

		for (let r of resList) {
			if ((date.getTime() == r.date.getTime()) && (r.time >= data.start) && (r.time < data.start + data.duration * data.nTimes)) {
				let info = r.first + " " + r.last + " (" + phoneFormat(r.phone) + ")";
				resTimeInfoMap.set(r.time, info);
			}
		}

		tblBody.innerHTML = "";
		selectedRowId = -1;

		for (let i = 0; i < data.nTimes; i++) {
			const row = tblBody.insertRow(i);
			row.className = "tr-not-selected";
			const block = row.insertCell(0);
			const time = data.start + data.duration * i;
			let hr = Math.floor(time / 60) % 12;
			if (hr == 0) {
				hr = 12;
			}
			let min = (time % 60).toString();
			if (min == "0") {
				min = "00";
			}
			const ap = (~~(time / 60) > 11) ? "PM" : "AM";
			const timeStr = hr + ":" + min + " " + ap;
			block.innerHTML = timeStr;

			const name = row.insertCell(1);

			if (resTimeInfoMap.has(time)) {
				name.innerText = resTimeInfoMap.get(time);
			}

			const value = row.insertCell(1);
			value.innerHTML = time;
			value.style.display = "none";
		}
	}

	function goHome() {
		const acct = getCookie('Account')
		let url = "{{ url_for('main.admin', acct='acctTag') }}"
		url = url.replace('acctTag', acct)
		location.href = url
	}

</script>